.signup-container {
    display: flex;
    flex-wrap: wrap;
   
  }
  
  .signup-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-image img {
    max-width: 100%;
    height: auto;
  }
  
  .signup-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .signup-form h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .signup-form p {
    margin-bottom: 20px;
    color: #555;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .form-group input:focus {
    border-bottom-color: #333;
  }
  
  .btn-primary {
    width: 40%;
    padding: 10px 15px;
    text-align: center;
    background-color: var(--red500);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: var(--red200);
    color: var(--black);
  }
  
  .btn-google {
    width: 40%;
    padding: 10px 15px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .btn-google img {
    width: 20px;
    height: 20px;
  }
  
  .btn-google:hover {
    border-color: #333;
  }
  
  @media (max-width: 768px) {
    .signup-container {
      flex-direction: column;
    }
  
    .signup-image{
        display: none !important;
    }
    .signup-form {
      flex: none;
      width: 100%;
    }
  
    .signup-form {
      padding: 20px;
    }
  }
  