:root{
    --black:#000000;
    --white :#ffffff;
    --red600:#B71F3B;
    --red500:#DF2648;
    --red400:#E9677F;
    --red300:#F2A6B4;
    --red200:#F9D2D9;
    --red100:#FCE9EC;
    --magenta600:#C24764;
    --magenta500:#E35275;
    --magenta400:#E97591;
    --magenta300:#F4BAC8;
    --magenta200:#FCEEF1;
    --magenta100:#FEF6F8;
    --Neutral600:#1B253C;
    --Neutral500:#202C46;
    --Neutral400:#4D566B;
    --Neutral300:#9096A2;
    --Neutral200:#D1D4DB;
    --Neutral100:#E9EAEC;
    --Neutral50:#F4F4F6;
    --Blue700:#2240A4;
    --Blue600:#2A4EC7;
    --Blue500:#315CEA;
    --Blue400:#5A7DEE;
    --Blue300:#ADBEF7;
    --Blue200:#EAEFFD;
    --Blue100:#F5F7FE;
    --Purple600:rgb(100, 54, 191);
    --Purple500:#773FE2;
    --Purple400:#9265E8;
    --Purple300:#C9B2F3;
    --Purple200:#F1ECFC;
    --Purple100:#F8F5FE;
    --Green600:#21AF52;
    --Green500:#27CE60;
    --Green400:#52D880;
    --Green300:#A9EBBF;
    --Green200:#E9FAEF;
    --Green100:#F4FDF7;
    --Yellow600:#C77414;
    --Yellow500:#F89118;
    --Yellow400:#FAB261;
    --Yellow300:#FCCF9C;
    --Yellow200:#FDE7CD;
    --Yellow100:#FEF3E6;
    --GradientPrimary:linear-gradient();
}
